In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
export_df = pd.read_csv('./../dataset/Minerals_Exports_Final_Cleaned_2017_2025.csv')
export_df

,RNUM,UNIT,PORT,LAST_VAL,QTY,COMMODITY,CTY,DVALUE,VALUE,HS_CODE,DLAST_VALUE,Last_QTY,Year,Month,Date_Full,Type
0,1,KGS,MUMBAI AIR,64,1,GRAPHITE CRYSTALLINE (FLAKES/POWDER),CHINA P RP,1,64,25041010,1,1,2017,Apr,01-Apr-2017,Export
1,2,KGS,NHAVA SHEVA SEA,228809,22000,OTHER MINERAL SUBSTANCES NES,BANGLADESH PR,3547,228809,25309099,3547,22000,2017,Apr,01-Apr-2017,Export
2,3,KGS,PETRAPOLE LAND,9578,30,OTHER MINERAL SUBSTANCES NES,BANGLADESH PR,148,9578,25309099,148,30,2017,Apr,01-Apr-2017,Export
3,4,KGS,MUMBAI AIR,20544,40,OTHER MINERAL SUBSTANCES NES,CHILE,318,20544,25309099,318,40,2017,Apr,01-Apr-2017,Export
4,5,KGS,MUMBAI AIR,421195,1479,OTHER MINERAL SUBSTANCES NES,CHINA P RP,6529,421195,25309099,6529,1479,2017,Apr,01-Apr-2017,Export
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59645,722,KGS,ICD SABARMATI,0,0,UNWROUGHT ANTIMONY; POWDERS,U ARAB EMTS,0,0,81101000,0,0,2025,Sep,01-Sep-2025,Export
59646,723,KGS,ICD NOIDA-DADRI,0,0,UNWROUGHT ANTIMONY; POWDERS,U ARAB EMTS,0,0,81101000,0,0,2025,Sep,01-Sep-2025,Export
59647,724,KGS,ICD NOIDA-DADRI,138474524,34500,UNWROUGHT ANTIMONY; POWDERS,U S A,1567827,138474524,81101000,1567827,34500,2025,Sep,01-Sep-2025,Export
59648,725,KGS,ICD SABARMATI,0,0,UNWROUGHT ANTIMONY; POWDERS,UGANDA,0,0,81101000,0,0,2025,Sep,01-Sep-2025,Export
59649,726,KGS,AHMEDABAD AIR CARGO COMPLEX,0,0,UNWROUGHT ANTIMONY; POWDERS,UGANDA,0,0,81101000,0,0,2025,Sep,01-Sep-2025,Export

In [8]:
import_df = pd.read_csv('./../dataset/Minerals_Imports_Final_Cleaned_2017_2025.csv')
import_df

,RNUM,UNIT,PORT,LAST_VAL,QTY,COMMODITY,CTY,DVALUE,VALUE,HS_CODE,DLAST_VALUE,Last_QTY,Year,Month,Date_Full,Type
0,1,KGS,ICD SAMALKHA PANIPAT,2785028,36800,GRAPHITE CRYSTALLINE (FLAKES/POWDER),AUSTRIA,37397,2785028,25041010,37397,36800,2021,Apr,01-Apr-2021,Import
1,2,KGS,NHAVA SHEVA SEA,2910853,42000,GRAPHITE CRYSTALLINE (FLAKES/POWDER),BRAZIL,39086,2910853,25041010,39086,42000,2021,Apr,01-Apr-2021,Import
2,3,KGS,NHAVA SHEVA SEA,2673608,20000,GRAPHITE CRYSTALLINE (FLAKES/POWDER),CHINA P RP,35901,2673608,25041010,35901,20000,2021,Apr,01-Apr-2021,Import
3,4,KGS,MAHINDRA CITY AUTO ANCI SEZ TN,2426651,40000,GRAPHITE CRYSTALLINE (FLAKES/POWDER),CHINA P RP,32585,2426651,25041010,32585,40000,2021,Apr,01-Apr-2021,Import
4,5,KGS,CHENNAI SEA,1688880,8000,GRAPHITE CRYSTALLINE (FLAKES/POWDER),CHINA P RP,22678,1688880,25041010,22678,8000,2021,Apr,01-Apr-2021,Import
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48590,1047,KGS,HYDERABAD AIRPORT,0,0,BERYLIUM UNWROUGHT; POWDERS,U S A,0,0,81121200,0,0,2025,Sep,01-Sep-2025,Import
48591,1048,KGS,HYDERABAD AIRPORT,5269,0,OTHR METALS UNWROUGHT; WASTEANDSCRAP; POWDER,BELGIUM,60,5269,81129200,60,0,2025,Sep,01-Sep-2025,Import
48592,1049,KGS,DELHI AIR,0,0,OTHR METALS UNWROUGHT; WASTEANDSCRAP; POWDER,CHINA P RP,0,0,81129200,0,0,2025,Sep,01-Sep-2025,Import
48593,1050,KGS,MUMBAI AIR,0,0,OTHR METALS UNWROUGHT; WASTEANDSCRAP; POWDER,SINGAPORE,0,0,81129200,0,0,2025,Sep,01-Sep-2025,Import
48594,1051,KGS,HYDERABAD AIRPORT,0,0,OTHR METALS UNWROUGHT; WASTEANDSCRAP; POWDER,U S A,0,0,81129200,0,0,2025,Sep,01-Sep-2025,Import

In [9]:
export_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59650 entries, 0 to 59649
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RNUM         59650 non-null  int64
 1   UNIT         59650 non-null  object
 2   PORT         59650 non-null  object
 3   LAST_VAL     59650 non-null  int64
 4   QTY          59650 non-null  int64
 5   COMMODITY    59650 non-null  object
 6   CTY          59650 non-null  object
 7   DVALUE       59650 non-null  int64
 8   VALUE        59650 non-null  int64
 9   HS_CODE      59650 non-null  int64
 10  DLAST_VALUE  59650 non-null  int64
 11  Last_QTY     59650 non-null  int64
 12  Year         59650 non-null  int64
 13  Month        59650 non-null  object
 14  Date_Full    59650 non-null  object
 15  Type         59650 non-null  object
dtypes: int64(9), object(7)
memory usage: 7.3+ MB

In [10]:
export_df.describe()

,RNUM,LAST_VAL,QTY,DVALUE,VALUE,HS_CODE,DLAST_VALUE,Last_QTY,Year
count,59650.000000,5.965000e+04,5.965000e+04,5.965000e+04,5.965000e+04,5.965000e+04,5.965000e+04,5.965000e+04,59650.000000
mean,348.444191,8.766025e+06,6.340573e+04,1.218440e+05,8.766025e+06,3.888349e+07,1.218440e+05,6.340573e+04,2021.293277
std,237.461020,1.220855e+08,8.688875e+05,1.769258e+06,1.220855e+08,1.933879e+07,1.769258e+06,8.688875e+05,2.428910
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.504101e+07,0.000000e+00,0.000000e+00,2017.000000
25%,148.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.823001e+07,0.000000e+00,0.000000e+00,2019.000000
50%,313.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.846101e+07,0.000000e+00,0.000000e+00,2021.000000
75%,517.000000,5.413250e+03,1.000000e+00,7.100000e+01,5.413250e+03,3.801100e+07,7.100000e+01,1.000000e+00,2023.000000
max,1071.000000,6.485707e+09,5.659300e+07,1.019174e+08,6.485707e+09,8.112920e+07,1.019174e+08,5.659300e+07,2025.000000

In [11]:
export_df.isnull().sum()

RNUM           0
UNIT           0
PORT           0
LAST_VAL       0
QTY            0
COMMODITY      0
CTY            0
DVALUE         0
VALUE          0
HS_CODE        0
DLAST_VALUE    0
Last_QTY       0
Year           0
Month          0
Date_Full      0
Type           0
dtype: int64

In [14]:
export_df.nunique()

RNUM            1071
UNIT               1
PORT             159
LAST_VAL       15957
QTY             2888
COMMODITY         47
CTY              165
DVALUE         10751
VALUE          15957
HS_CODE           47
DLAST_VALUE    10751
Last_QTY        2888
Year               9
Month             12
Date_Full        102
Type               1
dtype: int64

In [16]:
export_df = export_df.drop(columns=['Type'])
export_df

,RNUM,UNIT,PORT,LAST_VAL,QTY,COMMODITY,CTY,DVALUE,VALUE,HS_CODE,DLAST_VALUE,Last_QTY,Year,Month,Date_Full
0,1,KGS,MUMBAI AIR,64,1,GRAPHITE CRYSTALLINE (FLAKES/POWDER),CHINA P RP,1,64,25041010,1,1,2017,Apr,01-Apr-2017
1,2,KGS,NHAVA SHEVA SEA,228809,22000,OTHER MINERAL SUBSTANCES NES,BANGLADESH PR,3547,228809,25309099,3547,22000,2017,Apr,01-Apr-2017
2,3,KGS,PETRAPOLE LAND,9578,30,OTHER MINERAL SUBSTANCES NES,BANGLADESH PR,148,9578,25309099,148,30,2017,Apr,01-Apr-2017
3,4,KGS,MUMBAI AIR,20544,40,OTHER MINERAL SUBSTANCES NES,CHILE,318,20544,25309099,318,40,2017,Apr,01-Apr-2017
4,5,KGS,MUMBAI AIR,421195,1479,OTHER MINERAL SUBSTANCES NES,CHINA P RP,6529,421195,25309099,6529,1479,2017,Apr,01-Apr-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59645,722,KGS,ICD SABARMATI,0,0,UNWROUGHT ANTIMONY; POWDERS,U ARAB EMTS,0,0,81101000,0,0,2025,Sep,01-Sep-2025
59646,723,KGS,ICD NOIDA-DADRI,0,0,UNWROUGHT ANTIMONY; POWDERS,U ARAB EMTS,0,0,81101000,0,0,2025,Sep,01-Sep-2025
59647,724,KGS,ICD NOIDA-DADRI,138474524,34500,UNWROUGHT ANTIMONY; POWDERS,U S A,1567827,138474524,81101000,1567827,34500,2025,Sep,01-Sep-2025
59648,725,KGS,ICD SABARMATI,0,0,UNWROUGHT ANTIMONY; POWDERS,UGANDA,0,0,81101000,0,0,2025,Sep,01-Sep-2025
59649,726,KGS,AHMEDABAD AIR CARGO COMPLEX,0,0,UNWROUGHT ANTIMONY; POWDERS,UGANDA,0,0,81101000,0,0,2025,Sep,01-Sep-2025